Repository luke-h1/foam, changes with the labels that .github/labeler.yml gives for each.
All labels: app, Infrastructure, Documentation

feat(app): finish setting up requires api services
  scripts/alphabetizePackageJson.js
  src/services/ffzService.ts
  src/services/serializers/ffz/index.ts
  src/services/twitchService.ts
Labels: none

chore(app): add .gitkeep files
  src/components/.gitkeep
  src/screens/channel/.gitkeep
  src/screens/settings/.gitkeep
  src/utils/.gitkeep
Labels: none

chore(app): add util and setup unit tests
  .yarn/cache/@cspotcode-source-map-support-npm-0.8.1-964f2de99d-5718f26708.zip
  .yarn/cache/@jridgewell-trace-mapping-npm-0.3.9-91625cd7fb-d89597752f.zip
  .yarn/cache/@testing-library-jest-native-npm-5.4.3-d4588822c4-2a4ebfeff0.zip
  .yarn/cache/@tsconfig-node10-npm-1.0.9-f2e2d20feb-a33ae4dc2a.zip
  .yarn/cache/@tsconfig-node12-npm-1.0.11-9710d1c61b-5ce29a41b1.zip
  .yarn/cache/@tsconfig-node14-npm-1.0.3-15321421d2-19275fe80c.zip
  .yarn/cache/@tsconfig-node16-npm-1.0.4-b7cb87d859-2023197859.zip
  .yarn/cache/@types-jest-npm-29.5.6-fa191e2675-fa13a27bd1.zip
  .yarn/cache/arg-npm-4.1.3-1748b966a8-544af8dd3f.zip
  .yarn/cache/create-require-npm-1.1.1-839884ca2e-a9a1503d43.zip
  .yarn/cache/diff-npm-4.0.2-73133c7102-f2c09b0ce4.zip
  .yarn/cache/make-error-npm-1.3.6-ccb85d9458-b86e5e0e25.zip
  .yarn/cache/min-indent-npm-1.0.1-77031f50e1-bfc6dd03c5.zip
  .yarn/cache/redent-npm-3.0.0-31892f4906-fa1ef20404.zip
  .yarn/cache/strip-indent-npm-3.0.0-519e75a28d-18f045d57d.zip
  .yarn/cache/ts-node-npm-10.9.1-6c268be7f4-090adff130.zip
  .yarn/cache/v8-compile-cache-lib-npm-3.0.1-4886071ece-78089ad549.zip
  .yarn/cache/yn-npm-3.1.1-8ad4259784-2c487b0e14.zip
  .yarn/install-state.gz
  jest.config.ts
  package.json
  src/test/setupFilesAfterEnv.ts
  src/test/setupTests.ts
  src/utils/.gitkeep
  src/utils/__tests__/isLandscape.test.ts
  src/utils/isLandscape.ts
  yarn.lock
Labels: none

chore: add postman collection to project
  foam-postman.json
Labels: none

feat(ci): add initial build CI
  .github/workflows/build.yml
Labels: Infrastructure

chore(ci): remove build step
  .github/workflows/build.yml
Labels: Infrastructure

chore(ci): remove build step
  .github/workflows/build.yml
Labels: Infrastructure

feat(app): setup basic routing
  .yarn/cache/@expo-config-npm-8.4.0-54e89b84f9-37ed593fcd.zip
  .yarn/cache/@expo-config-plugins-npm-7.6.0-1eeef30006-2972ec6ec3.zip
  .yarn/cache/@expo-config-types-npm-50.0.0-alpha.2-6d49cd44a7-1bdd073347.zip
  .yarn/cache/@expo-fingerprint-npm-0.4.0-ac1a4a43aa-767668b0e5.zip
  .yarn/cache/@react-native-async-storage-async-storage-npm-1.18.2-2eb1d303a0-bdbcd2e478.zip
  .yarn/cache/@react-native-async-storage-async-storage-npm-1.19.3-9b91079105-d849e5c8bb.zip
  .yarn/cache/@shopify-flash-list-npm-1.4.3-dc03c28fdd-a74010c70d.zip
  .yarn/cache/@shopify-flash-list-npm-1.6.2-fa9e6dada1-7d4875ad12.zip
  .yarn/cache/expo-clipboard-npm-4.3.1-2a6337e64a-f0b40f5b41.zip
  .yarn/cache/expo-clipboard-npm-4.7.0-7b634d5ced-86ccba58a7.zip
  .yarn/cache/expo-constants-npm-15.2.0-f03190019b-c952075bc5.zip
  .yarn/cache/expo-font-npm-11.8.0-6155af55f5-25a19c652e.zip
  .yarn/cache/expo-image-npm-1.3.4-818788d8bf-0b523680ea.zip
  .yarn/cache/expo-image-npm-1.6.0-5ad27bc410-1197eb655c.zip
  .yarn/cache/expo-linking-npm-5.0.2-910256be4d-4807372719.zip
  .yarn/cache/expo-linking-npm-6.1.1-5e98936f7f-150f1014b5.zip
  .yarn/cache/expo-screen-orientation-npm-6.0.6-3ffc29ad7a-b88c1ad197.zip
  .yarn/cache/expo-screen-orientation-npm-6.3.0-6e66190c08-871b6a8245.zip
  .yarn/cache/react-native-gesture-handler-npm-2.12.1-34ed9dd7a6-1aec3d71c5.zip
  .yarn/cache/react-native-gesture-handler-npm-2.13.3-4b812f1580-d5f78d89f9.zip
  .yarn/cache/react-native-reanimated-npm-3.3.0-fb4272741c-58096b28ca.zip
  .yarn/cache/react-native-reanimated-npm-3.5.4-d1bd777503-885449b113.zip
  .yarn/cache/react-native-safe-area-context-npm-4.6.3-cc553e0a4a-f304d22f3d.zip
  .yarn/cache/react-native-safe-area-context-npm-4.7.3-74f16fb68f-1cc304216f.zip
  .yarn/cache/react-native-screens-npm-3.22.1-b3da351834-3b592ff31d.zip
  .yarn/cache/react-native-screens-npm-3.26.0-8e3a4ca8f9-18750fb15e.zip
  .yarn/cache/react-native-webview-npm-13.2.2-8221b0a520-3e47e9885c.zip
  .yarn/cache/react-native-webview-npm-13.6.2-e29a5ee131-20cbad5bf4.zip
  .yarn/install-state.gz
  App.tsx
  package.json
  src/navigation/Home/HomeStack.tsx
  src/navigation/Home/HomeTabNavigator.tsx
  src/screens/BrowseScreen.tsx
  src/screens/FollowingScreen.tsx
  src/screens/SearchScreen.tsx
  src/screens/TopScreen.tsx
  src/screens/settings/SettingsScreen.tsx
  yarn.lock
Labels: none

chore(app): remove tamagui
  .yarn/cache/@emotion-is-prop-valid-npm-0.8.8-261a0f2426-bb7ec6d48c.zip
  .yarn/cache/@emotion-memoize-npm-0.7.4-5648cf11b8-4e3920d4ec.zip
  .yarn/cache/@motionone-animation-npm-10.16.3-f34abd372a-797cacea33.zip
  .yarn/cache/@motionone-dom-npm-10.12.0-bbffbf0daa-123356f28e.zip
  .yarn/cache/@motionone-easing-npm-10.16.3-0bceaa6b64-03e2460cdd.zip
  .yarn/cache/@motionone-generators-npm-10.16.4-4fc25eb80f-185091c5cf.zip
  .yarn/cache/@motionone-types-npm-10.16.3-2ff330cdaa-ff38982f5a.zip
  .yarn/cache/@motionone-utils-npm-10.16.3-9c888d8cae-d06025911c.zip
  .yarn/cache/@tamagui-animations-css-npm-1.74.21-1a6cbfaf08-69454dcca4.zip
  .yarn/cache/@tamagui-animations-moti-npm-1.74.21-09a7708c64-3a50f187d3.zip
  .yarn/cache/@tamagui-colors-npm-1.74.21-68e9ff1432-b4bdb92178.zip
  .yarn/cache/@tamagui-config-npm-1.74.21-9b58952d33-a2f9951c5a.zip
  .yarn/cache/@tamagui-create-theme-npm-1.74.21-198a1a3fae-b314f7dcab.zip
  .yarn/cache/@tamagui-cubic-bezier-animator-npm-1.74.21-70180ab326-8703dff7f5.zip
  .yarn/cache/@tamagui-font-inter-npm-1.74.21-e85c58757b-641e2f8473.zip
  .yarn/cache/@tamagui-font-silkscreen-npm-1.74.21-d43dd8d438-18242cccda.zip
  .yarn/cache/@tamagui-shorthands-npm-1.74.21-431b0c4015-138397e934.zip
  .yarn/cache/@tamagui-theme-builder-npm-1.74.21-84a8d6a405-2d23858aa3.zip
  .yarn/cache/@tamagui-themes-npm-1.74.21-db4136754e-189505ab53.zip
  .yarn/cache/framer-motion-npm-6.5.1-4ab908407b-7379590631.zip
  .yarn/cache/framesync-npm-6.0.1-937c080b05-a23ebe8f7e.zip
  .yarn/cache/hey-listen-npm-1.0.8-adb7dae9da-6bad60b367.zip
  .yarn/cache/moti-npm-0.25.4-9f1b788e63-399b41f7aa.zip
  .yarn/cache/popmotion-npm-11.0.3-120f81eddd-9fe7d03b4e.zip
  .yarn/cache/style-value-types-npm-5.0.0-ba441f7a16-16d198302c.zip
  .yarn/install-state.gz
  App.tsx
  package.json
  tamagui.config.ts
  yarn.lock
Labels: none

feat(app): add additional methods to twitchService
  .github/workflows/build.yml
Labels: Infrastructure

feat(app): setup global themeing
  .yarn/cache/@shopify-restyle-npm-2.4.2-b0ff77ac27-a8025d82f1.zip
  .yarn/install-state.gz
  App.tsx
  package.json
  src/components/.gitkeep
  src/styles/colors.ts
  src/styles/pallete.ts
  src/styles/theme.ts
  yarn.lock
Labels: none

chore(app): add debug tools
  src/screens/FollowingScreen.tsx
  src/screens/settings/SettingsScreen.tsx
Labels: none

fix(app): fix getTopStreams query
  src/screens/FollowingScreen.tsx
  src/screens/authentication/LoginScreen.tsx
  src/services/twitchService.ts
Labels: none

--wip-- [skip ci]
  .yarn/cache/@shopify-restyle-npm-2.4.2-b0ff77ac27-a8025d82f1.zip
  .yarn/cache/react-devtools-core-npm-4.28.4-6520aca1e6-2381f8eed9.zip
  .yarn/cache/react-devtools-core-npm-4.28.5-064d121dfd-d8e4b32ffc.zip
  .yarn/cache/yaml-npm-2.3.2-b844830a8b-acd80cc24d.zip
  .yarn/cache/yaml-npm-2.3.4-8bb6dc2c0d-e6d1dae1c6.zip
  .yarn/install-state.gz
  App.tsx
  assets/images/LoadingSpinner.png
  package.json
  src/components/Box.tsx
  src/components/Button/index.tsx
  src/components/Chip.tsx
  src/components/Image.tsx
  src/components/Loader.tsx
  src/components/Pressable.tsx
  src/components/SVGIcon.tsx
  src/components/SafeAreaContainer.tsx
  src/components/Seperator.tsx
  src/components/Text.tsx
  src/components/TextField.tsx
  src/components/TextInput.tsx
  src/screens/authentication/AuthLoading.tsx
  src/styles/colors.ts
  src/styles/theme.ts
  tsconfig.json
  yarn.lock
Labels: none

--wip-- [skip ci]
  src/components/ExtraSmallStreamListCard.tsx
  src/components/NoContent.tsx
  src/components/Pressable.tsx
  src/components/StreamListCard.tsx
Labels: none

--wip-- [skip ci]
  .yarn/cache/@gorhom-bottom-sheet-npm-4.5.1-d8ef5d483d-dbfc900b71.zip
  .yarn/cache/@gorhom-portal-npm-1.0.14-3f1ca607aa-227bb96a2d.zip
  .yarn/cache/nanoid-npm-3.3.7-98824ba130-d36c427e53.zip
  .yarn/install-state.gz
  package.json
  src/components/Chip.tsx
  src/components/GamesListCard/index.tsx
  src/components/StreamDurationIndicator.tsx
  src/screens/FollowingScreen.tsx
  yarn.lock
Labels: none

--wip-- [skip ci]
  assets/images/arrow_right.svg
  src/components/BottomModal.tsx
  src/components/BottomModalItem/LargeBottomModalItem/index.tsx
  src/components/BottomModalItem/MediumBottomModalItem/index.tsx
  src/components/BottomModalItem/SmallBottomModalItem/index.tsx
  src/components/BottomModalItem/index.tsx
Labels: none

--wip-- [skip ci]
  assets/images/moon_filled.svg
  assets/images/settings.svg
  src/components/BottomModalItem/index.tsx
  src/components/Button/index.tsx
  src/components/NavBar.tsx
Labels: none

--wip-- [skip ci]
  .eslintrc.json
  App.tsx
  src/components/Image.tsx
  src/components/Pressable.tsx
  src/components/SVGIcon.tsx
  src/components/SafeAreaContainer.tsx
  src/components/Seperator.tsx
  src/components/StreamListCard.tsx
  src/components/TextField.tsx
  src/components/TextInput.tsx
  src/navigation/Home/HomeTabsNavigator.tsx
  src/navigation/RootNavigator.tsx
  src/screens/BrowseScreen.tsx
  src/screens/SearchScreen.tsx
  src/screens/TopScreen.tsx
  src/screens/WelcomeScreen.tsx
  src/screens/authentication/LoginScreen.tsx
  src/screens/settings/SettingsScreen.tsx
  src/services/twitchService.ts
Labels: none

--wip-- [skip ci]
  assets/images/options.svg
  src/components/BottomModalItem/LargeBottomModalItem/index.tsx
  src/components/BottomModalItem/MediumBottomModalItem/index.tsx
  src/components/BottomModalItem/SmallBottomModalItem/index.tsx
  src/components/ExtraSmallStreamListCard.tsx
  src/components/GamesListCard/index.tsx
  src/components/NavBar.tsx
  src/components/Pressable.tsx
  src/components/SVGIcon.tsx
  src/components/StreamListCard/index.tsx
Labels: none

--wip-- [skip ci]
  src/components/ExtraSmallStreamListCard.tsx
  src/components/StreamList.tsx
  src/components/StreamListCard/index.tsx
Labels: none

--wip-- [skip ci]
  assets/images/left-arrow.svg
  src/components/ScreenHeader.tsx
Labels: none

--wip-- [skip ci]
  src/components/SelectableTabItem.tsx
  src/components/SelectableTabs.tsx
Labels: none

--wip-- [skip ci]
  .yarn/cache/expo-av-npm-13.4.1-68f212ea2e-0fdcda51b4.zip
  .yarn/install-state.gz
  assets/images/play.svg
  assets/play.png
  package.json
  src/components/Video.tsx
  yarn.lock
Labels: none

--wip-- [skip ci]
  .yarn/install-state.gz
  App.tsx
  babel.config.js
  src/components/StreamList.tsx
  src/components/StreamListCard/index.tsx
  src/components/Video.tsx
  src/screens/FollowingScreen.tsx
Labels: none

feat(app): authenticate with Twitch API
  src/components/Header.tsx
Labels: none

chore(app): remove react-native-fast-image due to xcode issues
  .yarn/cache/react-native-fast-image-npm-8.6.3-03ee2d23c0-29289cb6b2.zip
  .yarn/install-state.gz
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  package.json
  src/components/StreamListItem.tsx
  yarn.lock
Labels: none

feat(app): search screen
  .yarn/install-state.gz
  src/components/SettingsItem.tsx
  src/navigation/RootNavigator.tsx
  src/screens/SearchScreen.tsx
  src/screens/settings/SettingsModal.tsx
Labels: none

fix(app): add ScrollView to follow, top & search screens
  src/screens/FollowingScreen.tsx
  src/screens/TopScreen.tsx
Labels: none

fix(app): fix key warnings on search screen
  .yarn/install-state.gz
  App.tsx
  src/screens/SearchScreen.tsx
Labels: none

feat(app): general Following style improvements
  src/components/StreamListItem.tsx
  src/screens/FollowingScreen.tsx
  src/screens/SearchScreen.tsx
  src/services/twitchService.ts
Labels: none

feat(infra): add build-prerelease.yml
  .github/workflows/build-prerelease.yml
Labels: Infrastructure

feat(infra): add build-prerelease.yml
  .github/workflows/build-prerelease.yml
Labels: Infrastructure

feat(app): faster images with expo-image
  .yarn/cache/expo-image-npm-1.3.4-818788d8bf-0b523680ea.zip
  .yarn/cache/expo-image-npm-1.3.5-85b226dc4f-54949e3c92.zip
  .yarn/install-state.gz
  package.json
  src/components/CategoryItem.tsx
  src/components/Header.tsx
  src/components/StreamItem.tsx
  src/components/StreamListItem.tsx
  src/screens/SearchScreen.tsx
  src/screens/settings/SettingsModal.tsx
  src/utils/blurhash.ts
  yarn.lock
Labels: none

docs: add README
  README.md
Labels: Documentation

feat: add kodiak
  .kodiak.toml
  src/lib/tmi.ts
Labels: none

chore: Create LICENSE
  LICENSE
Labels: none

feat(app): cleanup package.json
  package.json
Labels: none

feat(app): update README
  README.md
Labels: Documentation

feat(ci): add previews to PRs
  .github/workflows/build.yml
Labels: Infrastructure

.github/labeler.yml:

app:
    - "**/./src/*"

Infrastructure:
    - "**/terraform/*"
    - "**/terraform/**/*"
    - ".github/*"
    - ".github/**/*"
    - "docker"

Documentation:
    - "README.md"
